<section>
      
  <!-- Content -->
  <div class="container">
    <div class="row no-gutters justify-content-between align-items-center min-vh-100 min-vh-100-ie-hack">
      <div class="col-12 col-md-5 align-self-stretch">

        <!-- Image (mobile) -->
        <img src="assets/img/photos/photo-5.jpg" class="d-md-none img-cover" alt="...">

        <!-- Image -->
        <div class="d-none d-md-block vw-50 h-100 float-right bg-cover" style="background-image: url(assets/img/covers/cover-10.jpg);"></div>

      </div>
      <div class="col-12 col-md-6 py-8 py-md-11">
        
        <!-- Heading -->
        <h2 class="font-weight-bold text-center mb-2">
          Sign in
        </h2>

        <!-- Text -->
        <p class="font-size-lg text-center text-muted mb-0">
          Fil in the below form to sign in
        </p>

        <!-- Divider -->
        <hr class="hr-sm my-6 my-md-8 border-gray-300">

        <!-- Form -->
        <form>
          <div class="form-group mb-5">
            
            <!-- Label -->
            <label for="usernameField">
              Username
            </label>

            <!-- Input -->
            <input type="text" class="form-control" id="usernameField" placeholder="Username">

          </div>
          <div class="form-group mb-5">
            
            <!-- Label -->
            <label for="passwordField">
              Password
            </label>

            <!-- Input -->
            <input type="email" class="form-control" id="passwordField" placeholder="Password">

          </div>

          <div class="form-group mb-0">
            
            <!-- Submit -->
            <button
                type="submit" 
                class="btn btn-block btn-primary lift">
              Sign in
            </button>

          </div>
        </form>

      </div>
    </div> <!-- / .row -->
  </div>
</section>